.SideDrawer {
  position: fixed;
  top: 0;
  left: 0;
  width: 270px;
  max-width: 70%;
  z-index: 200;
  height: 100%;
  background: white;
  padding: 32px 16px;
  box-sizing: border-box;
  transition: transform 0.3s ease-out;
}

.Open {
  transform: translateX(0);
}
.Close {
  transform: translateX(-100%);
}

@media (min-width: 550px) {
  .SideDrawer {
    display: none;
  }
}

.Logo {
  height: 11%;
}
